@font-face{
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: local('DMSans-Regular'),
        url('../fonts/Oswald-Regular.woff2') format('woff2'),
        url('../fonts/Oswald-Regular.woff') format('woff');
        font-display: swap;
      }

@font-face{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-style: normal;
  src: local('DMSans-Regular'),
        url('../fonts/Oswald-Bold.woff2') format('woff2'),
        url('../fonts/Oswald-Bold.woff') format('woff');
        font-display: swap;
      }

@font-face{
  font-family: 'OpenSans', sans-serif;
  font-weight: 300;
  font-style: normal;
  src: local('DMSans-Regular'),
        url('../fonts/OpenSans-Light.woff2') format('woff2'),
        url('../fonts/OpenSans-Light.woff') format('woff');
        font-display: swap;
      }

@font-face{
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: local('DMSans-Regular'),
        url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff');
        font-display: swap;
      }