html, body{
  height: 100%;
}


html.light{
  .header{
    color: #313131;
  }
  .menu__item-link--active,
  .header__lang-link--active{
    color: #000;
  }
  .top{
    background-color: #cbcbcb;
    &__title{
      color: $main-bg;
    }
    &__subtitle{
      color: #a6a6a6;
    }
    &__wrapper{
      background-image: url(../images/l-4.png);
      background-position: 88% 100%;
      background-size: 800px;
      /* background-size: contain; */
    }
  }
 /*  .title{
    color: $btn;
  } */
  %btn{
    color: $main-bg;
    background-color: #a6a6a6;
  }
}

body{
  color: $default;
  @extend %opensans-400;
  font-size: 23px;
  line-height: 31px;
  position: relative;
}

body.hidden{
  overflow: hidden;
}


.main{
  flex-grow: 1;
}

.wrapper{
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  min-height: 100%;
}

.container{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.title{
  color: $title;
  font-size: 65px;
  line-height: 100%;
  @extend %oswald-400;
  padding-left: 85px;
  transition: all .3s linear;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 65px;
    height: 1px;
    background-color: $accent;
  }
}

.scroll-top {
  background: rgba($color: $bg, $alpha: .8);
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border: 1px solid $accent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  z-index: 2;
  transition: all 0.4s;
  svg{
    transform: rotate(-90deg);
    width: 30px;
    path{
      fill: $accent;
    }
  }
  &--active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
  }
}

@media (max-width:860px){
  .title{
    padding-left: 55px;
    font-size: 50px;
    &::before {
      width: 40px;
    }
  }
}

@media (max-width:576px){
  html.light .top__wrapper{
    background-size: 522px;
    background-position: 0% 60%;
  }
  body{
    font-size: 18px;
    line-height: 28px;
  }
  .title{
    font-size: 45px;
  }
}

@media (max-width:360px){
  body{
    font-size: 16px;
  }
  .title {
    font-size: 40px;
  }
}

@media (max-width:340px){
 
  .title {
    padding-left: 45px;
    &::before {
      width: 30px;
    }
  }
}

