

@media (max-width: 1440px){
  .top{
    &__wrapper{
      background-position: 100%;
    }
    &__inner {
      padding-top: 220px;
    }
    &__subtitle {
      top: 160px;
    }
    &__content {
      margin-top: 0;
      margin-bottom: 25px;
    }
  }
}

@media (max-width: 1200px){
  .top{
    &__subtitle {
      /* top: 130px; */
      font-size: 110px;
    }
    &__wrapper{
      background-position: 113%;
      background-size: 600px;
    }
    &__inner {
     /*  padding-top: 190px; */
    }
    &__title {
      font-size: 80px;
      line-height: 120px;
    }
    &__name {
      margin-bottom: 35px;
    }
    &__link {
      font-size: 20px;
      line-height: 30px;
      padding: 10px 25px;
    }
    &__content {
    }
  }
  .menu__item+.menu__item {
    margin-left: 20px;
  }
  .header__lang-link+.header__lang-link {
    margin-left: 5px;
  }
}

@media (max-width: 860px){
  .header{
    padding: 30px 0;
  }
  .header__btn{
    pointer-events: auto;
  }
  .top{
    &__subtitle {
      font-size: 65px;
      top: 125px;
    }
    &__wrapper{
      background-position: bottom center;
    }
    &__inner {
      padding-top: 260px;
    }
    &__title {
      font-size: 50px;
      line-height: 100%;
      margin-bottom: 15px;
    }
    &__name {
      margin-bottom: 20px;
      font-size: 20px;
      line-height: 30px;
    }
    &__link {
      font-size: 14px;
      line-height: 30px;
      padding: 8px 18px;
    }
    &__content {
    }
  }
  .menu{
    &__list{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100vh;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: translateY(-120%);
      transition: all .5s linear;
      background-color: rgba(#232323, .5);
      filter: blur(-1px);
      backdrop-filter: blur(4px);
      &--active{
        transform: translateY(0%);
      }
    }
    &__item{
      margin-bottom: 50px;
    }
    &__item+.menu__item {
      margin-left: 0;
    }
    &__item-link{
      color: $title;
    }
  }
}

@media (max-width:576px){
  .top{
    &__subtitle {
      top: 100px;
    /* font-size: 45px; */
    }
    &__wrapper{
      background-position: 25% 100%;
      background-size: 650px;
    }
    &__inner {
      flex-direction: column;
      position: absolute;
      bottom: 18%;
      left: 15px;
      right: 15px;
    }
    &__theme{
      width: 68px;
      order: -1;
      margin: 0 16px 20px auto;
    }
    &__theme-btn {
      font-size: 0;
      line-height: 0;
      padding: 6px 15px 6px 15px;
      &::before{
        left: 11px;
        transform: rotate(-115deg);
      }
    }
  }
  .social{
    position: absolute;
    bottom: 15%;
    display: flex;
    align-items: center;
    right: 15px;
  }
}

@media (max-width:360px){
  .top{
    &__subtitle {
      top: 90px;
      font-size: 50px;
    }
    &__wrapper {
      background-size: 550px;
    }
    &__content {
      margin-bottom: 20px;
    }
    &__title {
      font-size: 40px;
    }
    &__name {
      margin-bottom: 15px;
      font-size: 18px;
      line-height: 24px;
    }
  }
}

@media (max-width: 900px) and (orientation: landscape){
  .menu__item {
    margin-bottom: 35px;
  }
  .top{
    &__subtitle {
      top: 85px;
    }
    &__wrapper {
      background-position: bottom right;
      background-size: contain;
    }
    &__inner {
      padding-top: 100px;
    }
    &__title {
      font-size: 40px;
    }
    &__name {
      margin-bottom: 15px;
      font-size: 18px;
    }
  }
  ul.social{
    padding-bottom: 25px;
  }
}

