

@media (max-width: 1600px){
  html.light .top__wrapper {
    background-position: 90% 100%;
    background-size: contain;
  }
}
@media (max-width: 1440px){
  .top{
    &__wrapper{
      background-position: 100%;
    }
    &__inner {
      padding-top: 300px;
    }
    &__subtitle {
      top: 160px;
    }
    &__content {
      margin-top: 0;
      margin-bottom: 25px;
    }
  }
}

@media (max-width: 1440px){
  .top{
    &__inner{
      padding-top: 220px;
    }
  }
}

@media (max-width: 1200px){
  .top{
    &__subtitle {
      /* top: 130px; */
      font-size: 110px;
    }
    &__wrapper{
      background-position: bottom center;
    }
    &__title {
      font-size: 80px;
      line-height: 120px;
    }
    &__name {
      margin-bottom: 35px;
    }
    &__link {
      font-size: 20px;
      line-height: 30px;
      padding: 10px 25px;
    }
  }
  .menu__item+.menu__item {
    margin-left: 20px;
  }
  .header__lang-link+.header__lang-link {
    margin-left: 5px;
  }
  .about-me{
    &__inner{
      flex-direction: column;
    }
    &__img-box {
      margin: 0 auto 30px;
    }
    &__content {
      max-width: 100%;
    }
  }
  .skills{
    &__circle{
      justify-content: center;
    }
  }
  .priorities{
    &__inner{
      justify-content: center;
    }
    &__img-box {
      margin-bottom: 30px;
    }
    &__title {
      padding-left: 110px;
    }
    &__item {
      padding-left: 110px;
      margin-bottom: 40px;
    }
  }
  .portfolio__works {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    grid-gap: 30px;
  }
}

@media (max-width: 1100px){
  .contact-form{
    &__input {
      max-width: 100%;
    }
    &__checkbox {
      padding: 14px 30px;
      font-size: 22px;
      line-height: 30px;
    }
  }
  .contact{
    padding-bottom: 80px;
    &__blockquote{
      position: relative;
      right: 0;
      bottom: 0;
      margin-left: auto;
    }
  }
}

@media (max-width: 860px){
  .header{
    padding: 30px 0;
  }
  .header__btn{
    pointer-events: auto;
  }
  .top{
    &__subtitle {
      font-size: 65px;
      top: 125px;
    }
    &__wrapper{
      background-size: 600px;
    }
    &__inner {
      padding-top: 260px;
    }
    &__title {
      font-size: 50px;
      line-height: 100%;
      margin-bottom: 15px;
    }
    &__name {
      margin-bottom: 20px;
      font-size: 20px;
      line-height: 30px;
    }
    &__link {
      font-size: 14px;
      line-height: 30px;
      padding: 8px 18px;
    }
  }
  .menu{
    &__list{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100vh;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: translateY(-120%);
      transition: all .5s linear;
      background-color: rgba(#232323, .5);
      filter: blur(-1px);
      backdrop-filter: blur(4px);
      &--active{
        transform: translateY(0%);
      }
    }
    &__item{
      margin-bottom: 50px;
    }
    &__item+.menu__item {
      margin-left: 0;
    }
    &__item-link{
      color: $title;
    }
  }
  .about-me {
    padding: 80px 0 40px;
  }
  .priorities__title::before {
    left: 25px;
  }

  .contact{
    &__write-me {
      margin-bottom: 30px;
    }
    &__qute-img {
      width: 55px;
      height: 55px;
      bottom: 15px;
      right: 20px;
    }
  }
  .contact-form{
    padding: 0;
    margin-bottom: 40px;
    &__option {
      flex-direction: column;
      margin-bottom: 15px;
    }
    &__label {
      margin-right: 0;
      margin-bottom: 20px;
    }
    &__input {
      margin-bottom: 35px;
    }
    &__textarea {
      margin-bottom: 35px;
    }
  }
}

@media (max-width:768px){
  .portfolio{
    &__title {
      margin: 0 auto 25px;
    }
    &__filter {
      flex-direction: column;
      align-items: flex-start;
      margin: 0 auto 35px;
      width: 270px;
    }
    &__works{
      margin-bottom: 0;
    }
    &__filter-btn+.portfolio__filter-btn {
      margin-left: 0;
    }
  }


}

@media (max-width:576px){
  html.light .top__wrapper {
    /* background-position: -20% 100%; */
    background-position: left bottom;
    background-size: 550px;
  }
  .top{
    padding: 60px 0 55px;
    &__subtitle {
      top: 100px;
    /* font-size: 45px; */
    }
    &__wrapper{
      background-position: 25% 100%;
      background-size: 650px;
    }
    &__inner {
      flex-direction: column;
      position: absolute;
      bottom: 18%;
      left: 15px;
      right: 15px;
    }
    &__theme{
      width: 68px;
      order: -1;
      margin: 0 16px 20px auto;
    }
    &__theme-btn {
      font-size: 0;
      line-height: 0;
      padding: 6px 15px 6px 15px;
      &::before{
        left: 11px;
        transform: rotate(-115deg);
      }
    }
  }
  .about-me {
    padding: 60px 0 40px;
  }
  .social{
    position: absolute;
    bottom: 15%;
    display: flex;
    align-items: center;
    right: 15px;
  }
  .about-me {
    &__img-box {
      width: 320px;
      height: 320px;
      margin-bottom: 25px;
      &::before {
        width: 300px;
        height: 300px;
        top: -19px;
        right: -19px;
        border: 19px solid #0f0f0f;
      }
    }
    &__img {
      width: auto;
      height: auto;
    }
    &__title {
      margin-bottom: 20px;
    }
    &__text{
      margin-bottom: 12px;
    }
    &__links-box {
      margin-top: 20px;
    }
    &__links-text {
      padding-left: 35px;
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 15px;
    }
  }
  .skills {
    padding: 60px 0;
    &__title {
      margin-bottom: 20px;
    }
  }
  .progressbar {
    margin: 15px;
    width: 140px;
  }
  .circle {
    .name {
      font-size: 20px;
      width: 140px;
    }
    div {
      position: absolute;
      top: 54%;
      width: 140px;
      text-align: center;
      text-align: center;
      font-size: 22px;
      line-height: 37px;
      color: #f0f0f0;
    }
    .descr{
      font-size: 16px;
      line-height: 30px;
      width: 140px;
    }
    canvas{
      width: 140px!important;
      height: 140px!important;
    }
  }
  .priorities {
    padding: 60px 0;
    &__title{
      padding-left: 70px;
      margin-bottom: 20px;
      &::before {
        left: 0;
      }
    }
    &__img-box {
      margin-bottom: 15px;
      width: 260px;
      height: 480px;
    }
    &__item{
      padding-left: 70px;
      margin-bottom: 25px;
      &::before{
        width: 54px;
        height: 54px;
      }
    }
    &__item--speed::before{
      background-image: url('../images/icons/speed-mobil.svg');
    }
    &__item--adaptive::before{
      background-image: url('../images/icons/adaptive-mobil.svg');
    }
    &__item--browser::before{
      background-image: url('../images/icons/browser-mobil.svg');
    }
    &__item-title {
      font-size: 21px;
      line-height: 25px;
    }
  }

  .portfolio {
    padding:60px 0;
    &__title {
      margin: 0 auto 20px;
    }
    &__filter{
      margin: 0 0 25px;
    }
    &__filter-btn{
      font-size: 20px;
      line-height: 25px;
      padding-bottom: 0px;
      margin-bottom: 7px;
    }
    &__img-link {
      width: 300px;
      height: 226px;
    }
  }

  .contact{
    padding: 60px 0;
    &__write-me {
      font-size: 30px;
      line-height: 34px;
      margin-bottom: 30px;
    }
    &__blockquote {
      padding: 20px;
      font-size: 16px;
      line-height: 26px;
      &::before {
        bottom: -23px;
        border-top: 23px solid #323232;
        border-left: 32px solid transparent;
      }
    }
    &__qute-img{
      display: none;
    }
  }
  .contact-form{
    margin-bottom: 30px;
    &__task {
      font-size: 23px;
      line-height: 26px;
      margin-bottom: 20px;
    }
    &__checkbox {
      padding: 10px 18px;
      font-size: 16px;
      line-height: 20px;
      width: 100%;
      text-align: center;
    }
    &__textarea,
    .contact-form__input {
      margin-bottom: 25px;
    }
    &__btn {
      font-size: 18px;
      line-height: 22px;
      padding: 10px 27px;
    }
  }
  .scroll-top--active {
    bottom: 25px;
    width: 45px;
    height: 45px;
    right: 25px;
  }

  .footer{
    padding: 40px 0 20px;
    &__inner{
      grid-gap: 10px;
    }
    &.footer__item {
      margin-bottom: 20px;
    }
    &__item-title {
      font-size: 16px;
      line-height: 20px;
    }
    &__copy {
      font-size: 12px;
      line-height: 16px;
      margin-right: 14px;
    }
    .about-me__link{
      font-size: 14px;
    }
    .social{
      position: static;
      &__item+.social__item {
        margin-left: 10px;
      }
    }
  }
}

@media (max-width:360px){
  html.light .top__wrapper {
    background-size: auto;
  }
  .top{
    &__subtitle {
      top: 90px;
      font-size: 50px;
    }
    &__wrapper {
      background-size: 550px;
    }
    &__content {
      margin-bottom: 20px;
    }
    &__title {
      font-size: 40px;
    }
    &__name {
      margin-bottom: 15px;
      font-size: 18px;
      line-height: 24px;
    }
  }
  .about-me {
    &__img-box {
      width: 270px;
      height:270px;
      margin-bottom: 20px;
      &::before {
        width: 270px;
        height: 270px;
        top: -14px;
        right: -14px;
        border: 14px solid #0f0f0f;
      }
    }
    &__title {
      margin-bottom: 15px;
    }
  }
  .priorities__title,
  .skills__title,
  .portfolio__title{
    margin-bottom: 15px;
  }
}

@media (max-width:340px){
  .about-me,
  .skills,
  .priorities,
  .portfolio,
  .contact{
    padding: 40px 0;
  }
  .priorities{
    &__title{
      padding-left: 45px;
    }
    &__item{
      padding-left: 0;
      padding-right: 6px;
      &::before{
        display: none;
      }
    }
  }
  .portfolio{
    &__work{
      &:hover .portfolio__work-box {
        bottom: 20px;
      }
      &:hover .portfolio__img-link::after{
        bottom: 85px;
      }
    }
    &__work-name {
      font-size: 16px;
    }
    &__work-descr {
      font-size: 18px;
      line-height: 22px;
    }
    &__img-link {
      width: 280px;
      height: 211px;
    }
  }
  .scroll-top{
    width: 40px;
    height: 40px;
    svg{
      width: 23px;
    }
    &--active {
      bottom: 20px;
      right: 20px;
  }
  }
}


@media (max-width: 900px) and (orientation: landscape){
  .menu__item {
    margin-bottom: 35px;
  }
  .top{
    &__subtitle {
      top: 85px;
    }
    &__wrapper {
      background-position: bottom right;
      background-size: contain;
    }
    &__inner {
      padding-top: 100px;
    }
    &__title {
      font-size: 40px;
    }
    &__name {
      margin-bottom: 15px;
      font-size: 18px;
    }
  }
  ul.social{
    padding-bottom: 25px;
  }
}

