
$default:#bfbfbf;
$title:#f0f0f0;
$accent:#FE206F;
$bg:#0F0F0F;

%oswald-400{
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-style: normal;
}

%oswald-700{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-style: normal;
}

%opensans-300{
  font-family: 'OpenSans', sans-serif;
  font-weight: 300;
  font-style: normal;
}

%opensans-600{
  font-family: 'OpenSans', sans-serif;
  font-weight: 600;
  font-style: normal;
}

%opensans-400{
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  font-style: normal;
}