
$default:#CECECE;
$title:#D9D9D9;
$accent:#FE206F;

%oswald-400{
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-style: normal;
}

%oswald-700{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-style: normal;
}

%opensans-300{
  font-family: 'OpenSans', sans-serif;
  font-weight: 300;
  font-style: normal;
}

%opensans-400{
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  font-style: normal;
}