@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $bg;
  z-index: 100;
  transition: all .3s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;

  &__text {
    font-size: 25px;
    line-height: 36px;
    color: $title;
    animation: preloader-text 3.5s linear infinite;
    text-align: center;
  }
}

@keyframes preloader-text {
  0% {
    opacity: 1;
  }

  20% {
    opacity: 0.7;
  }

  40% {
    opacity: 0.5;
  }

  60% {
    opacity: 0.3;
  }

  80% {
    opacity: 0.5;
  }

  90% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

.preloader.hidden {
  opacity: 0;
  visibility: hidden;
}

.loading {
  display: block;
  position: relative;
  width: 150px;
  height: 150px;
  margin: 30px auto;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: $accent;
  animation: loading-spin 3s linear infinite;
}

.loading:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ff7d95;
  animation: loading-spin 4s linear infinite;
}

.loading:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: $accent;
  animation: loading-spin 2.5s linear infinite;
}

@keyframes loading-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 55px 0;
  color: $gray;
  @extend %opensans-400;
  z-index: 2;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__lang-link {
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 3px;
    border-bottom: 1px solid transparent;
    transition: all .3s linear;

    &:hover {
      color: $default;
    }

    &+.header__lang-link {
      margin-left: 10px;
    }
  }

  &__lang-link--active {
    color: $default;
    border-bottom: 1px solid $accent;
  }

  &__btn {
    width: 35px;
    height: 21px;
    background-color: transparent;
    padding: 0;
    border: none;
    pointer-events: none;
    z-index: 5;
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      background-color: $accent;
      height: 1px;
      right: 0;
      transition: all .5s linear;
    }

    &::before {
      width: 23px;
      top: 0;
    }

    &::after {
      width: 29px;
      bottom: 0;
    }

    &--active {
      &::before {
        width: 35px;
        top: 9px;
        transform: rotate(135deg);
      }

      &::after {
        width: 35px;
        bottom: 10px;
        transform: rotate(-135deg);
      }

      .header__btn-line {
        opacity: 0;
        transition: all .2s linear;
      }
    }
  }

  &__btn-line {
    width: 35px;
    height: 1px;
    background-color: $accent;
    display: block;
    opacity: 1;
    transition: all 1s linear;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__item+.menu__item {
    margin-left: 25px;
  }

  &__item-link {
    font-size: 21px;
    line-height: 29px;
    padding-bottom: 3px;
    border-bottom: 1px solid transparent;
    transition: all .3s linear;

    &:hover {
      color: $default;
    }
  }

  &__item-link--active {
    color: $default;
    border-bottom: 1px solid $accent;
  }
}

.top {
  background-color: $bg;

  overflow: hidden;
  height: 100vh;

  &__wrapper {
    z-index: 1;
    background-image: url('../images/top-photo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 90% 100%;
    height: 100vh;
    position: relative;
  }

  &__subtitle {
    position: absolute;
    top: 255px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 150px;
    line-height: 100%;
    letter-spacing: 0.05em;
    color: #161616;
    text-transform: uppercase;
    @extend %oswald-700;
    display: block;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 350px;
  }

  &__content {
    max-width: 740px;
    margin-top: 70px;
    margin-bottom: 55px;
  }

  &__title {
    font-size: 110px;
    line-height: 163px;
    color: $title;
    @extend %oswald-400;
    margin-bottom: 8px;
  }

  &__name {
    font-size: 25px;
    line-height: 34px;
    color: $gray;
    @extend %opensans-300;
    margin-bottom: 50px;
  }

  &__link {
    @extend %btn;
  }

  &__theme {
    padding: 4px;
    background-color: #272727;
    border-radius: 30px;
    height: 35px;
    width: 123px;
    display: flex;
    transform: rotate(90deg) translateY(-40px);
    margin-top: 50px;

    cursor: pointer; //ПОКА ЧТО
  }

  &__theme-btn {
    font-size: 10px;
    line-height: 14px;
    @extend %opensans-300;
    color: $default;
    padding: 6px 12px 6px 23px;
    transition: all .2s linear;
    background-color: transparent;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 9px;
      left: 9px;
      width: 9px;
      height: 9px;
      background-repeat: no-repeat;
    }
  }

  &__theme-btn--active {
    background-color: #1C1C1C;
  }

  &__theme-btn--light {
    &::before {
      background-image: url('../images/icons/sun.svg');
    }
  }

  &__theme-btn--dark {
    &::before {
      background-image: url('../images/icons/moon.svg');
      transform: rotate(-95deg);
    }
  }
}

.social {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__item+.social__item {
    margin-left: 14px;
  }

  &__link {
    display: flex;

    svg path {
      transition: all .3s linear;
    }

    &:hover {
      svg path {
        fill: $accent;
      }
    }
  }
}


.about-me {
  padding: 130px 0 80px;
  background-color: #1B1B1B;
  position: relative;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__img-box {
    width: 434px;
    height: 434px;
    z-index: 1;
    background-color: #7f7f7f;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: -29px;
      right: -29px;
      border: 29px solid#0f0f0f;
      width: 405px;
      height: 405px;
      z-index: -1;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: .34);
    }
  }

  &__img {
    width: auto;
    height: auto;
    filter: grayscale(1) contrast(110%) brightness(85%);
    object-fit: cover;
  }

  &__content {
    max-width: 620px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 20px;
  }

  &__text-link {
    color: $accent;

    &:hover {
      text-decoration: underline;
    }
  }

  &__links-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__links-text {
    padding-left: 40px;
    font-size: 21px;
    line-height: 29px;
    margin-bottom: 20px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }

    span {
      color: $title;
    }
  }

  &__links-text--email::before {
    background-image: url('../images/icons/message.svg');
    width: 25px;
    height: 18px;
  }

  &__links-text--tel::before {
    background-image: url('../images/icons/tel.svg');
    width: 25px;
    height: 25px;
  }

  &__links-text--education::before {
    background-image: url('../images/icons/education.svg');
    width: 27px;
    height: 20px;
  }

  &__link {
    @extend %opensans-300;
    transition: all .3s linear;

    &:hover {
      color: $accent;
    }
  }
}

.skills {
  background-color: $bg;
  padding: 60px 0 70px;

  &__title {
    margin-bottom: 30px;
  }

  &__circle {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}


.progressbar {
  display: inline-block;
  width: 191px;
  margin: 25px;

  &:last-child {
    .circle div {
      display: none;
    }
  }
}

.circle {
  width: 100%;
  position: relative;
}

.circle canvas {
  vertical-align: middle;
}

.circle {
  div {
    position: absolute;
    top: 54%;
    width: 191px;
    text-align: center;
    text-align: center;
    font-size: 27px;
    line-height: 37px;
    color: $title;
  }

  .name {
    position: absolute;
    top: 35%;
    width: 191px;
    font-size: 25px;
    text-align: center;
    line-height: 34px;
    color: inherit;
    @extend %opensans-300;
  }

  .descr {
    position: absolute;
    top: 54%;
    width: 191px;
    text-align: center;
    font-size: 25px;
    line-height: 34px;
    color: $title;
  }
}

.priorities {
  background-color: $main-bg;
  padding: 100px 0;
  position: relative;
  background: transparent;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('../images/priorities-bg.jpg') no-repeat center/cover;

    @supports (background-image: url('../images/priorities-bg.webp')) {
      background: url('../images/priorities-bg.webp') no-repeat center/cover;
    }

    ;
    opacity: .7;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__img-box {
    width: 409px;
    height: 724px;
    z-index: 1;
  }

  &__img {
    width: auto;
    height: auto;
    object-fit: cover;
  }

  &__content {
    max-width: 620px;
  }

  &__title {
    margin-bottom: 30px;
    padding-left: 130px;

    &::before {
      left: 16px;
    }
  }

  &__item {
    padding-left: 141px;
    margin-bottom: 70px;

    &:last-child {
      margin-bottom: 0;
    }

    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 91px;
      height: 91px;
    }
  }

  &__item--speed::before {
    background-image: url('../images/icons/speed.svg');
  }

  &__item--adaptive::before {
    background-image: url('../images/icons/adaptive.svg');
  }

  &__item--browser::before {
    background-image: url('../images/icons/browser-1.svg');
  }

  &__item-title {
    font-size: 26px;
    line-height: 35px;
    color: $title;
    margin-bottom: 5px;
  }
}

.portfolio {
  background-color: $main-bg;
  padding: 40px 0 80px;

  &__title {
    max-width: 461px;
    width: 100%;
    margin: 0 auto 50px;
  }

  &__filter {
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
  }

  &__filter-btn+.portfolio__filter-btn {
    margin-left: 35px;
  }

  &__filter-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    padding-bottom: 5px;
    color: $gray;
    font-size: 24px;
    line-height: 33px;
    cursor: pointer;
    border-bottom: 1px solid transparent;
  }

  &__works {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, 270px);
    grid-gap: 44px;
    margin-bottom: 40px;
  }

  &__work {
    transform-style: preserve-3d;
    border-radius: 30px;
    position: relative;

    &:hover {
      .portfolio__img-link {
        &::before {
          background-color: rgba($color: #0F0F0F, $alpha: .6);
          transition: background-color .4s linear;
        }
      }

      .portfolio__work-img {
        transform: translateX(-50%) translateZ(20px);

        bottom: 115px;
        opacity: 1;
        visibility: visible;
        transition: opacity .4s linear, visibility .4s linear, bottom .4s linear;
      }

      .portfolio__work-text {
        transform: translateZ(20px);

        bottom: 35px;
        transition: all .3s linear .3s;
        opacity: 1;
        visibility: visible;
      }
    }

    &:nth-child(1) {
      background-color: #101010;
    }

    &:nth-child(2) {
      background-color: #151515;
    }

    &:nth-child(3) {
      background-color: #0D0F0E;
    }

    &:nth-child(4) {
      background-color: #121A25;
    }

    &:nth-child(5) {
      background-color: #C8DAEE;
    }

    &:nth-child(6) {
      background-color: #202020;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  &__img-link {
    width: 360px;
    height: 270px;
    display: block;
    border-radius: 30px;
    transform: scale(1.01);
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 30px;
      background-color: rgba($color: #272727, $alpha: 0);
      transition: background-color .4s linear .3s;
    }

  }

  &__img {
    width: auto;
    height: auto;
    object-fit: cover;
    border-radius: 30px;
  }

  &__work-img {
    content: '';
    position: absolute;
    width: 70px;
    height: 42px;
    background-image: url('../images/icons/eye.svg');
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    bottom: 50px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s linear .3s, bottom .4s linear .3s, visibility .4s linear .3s;
  }

  &__work-text {
    position: absolute;
    bottom: -15px;
    left: 10px;
    right: 10px;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    transition: all .4s linear .1s;
  }

  &__work-name {
    color: $title;
    @extend %opensans-600;
  }

  &__work-descr {
    font-size: 20px;
    line-height: 27px;
    @extend %opensans-300;
  }
}

.mixitup-control-active {
  border-bottom: 1px solid $accent;
  color: $title;
}


.contact {
  background-color: $main-bg;
  padding: 60px 0 190px;
  z-index: 1;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/priorities-bg.jpg') no-repeat center/cover;

    @supports (background-image: url('../images/priorities-bg.webp')) {
      background: url('../images/priorities-bg.webp') no-repeat center/cover;
    }

    ;
    opacity: .4;
    z-index: -1;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__write-me {
    font-size: 45px;
    line-height: 61px;
    margin-bottom: 45px;
    color: $title;
  }

  &__blockquote {
    padding: 40px;
    font-size: 23px;
    line-height: 36px;
    border-radius: 30px;
    box-shadow: 1px 1px 29px #1D1D1D;
    background-color: #323232;
    max-width: 617px;
    position: absolute;
    right: 10%;
    bottom: 10%;

    &::before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      bottom: -35px;
      right: 25px;
      border-top: 37px solid rgb(50, 50, 50);
      border-left: 44px solid transparent;
    }
  }

  &__qute-img {
    width: 77px;
    height: 77px;
    position: absolute;
    bottom: 30px;
    right: 30px;
  }

  &__img {
    width: auto;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    filter: grayscale(1) contrast(110%) brightness(85%);
  }
}

.contact-form {
  max-width: 1100px;
  padding: 30px 52px 50px;
  margin: 0 auto;

  &__task {
    font-size: 30px;
    line-height: 41px;
    margin-bottom: 35px;
    @extend %opensans-300;
  }

  &__option {
    display: flex;
    margin-bottom: 55px;
  }

  &__label {
    display: inline-block;
    margin-right: 30px;
    cursor: pointer;
  }

  &__check {
    @extend %checkbox-hidden;

    &:checked+.contact-form__checkbox {
      background-color: #323232;
      color: $title;
    }
  }

  &__checkbox {
    padding: 16px 44px;
    display: inline-block;
    border: 1px solid $accent;
    font-size: 25px;
    line-height: 34px;
    border-radius: 50px;
  }

  &__input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__input,
  &__textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid $accent;
    background-color: transparent;
    padding: 0 20px 15px 0;
    color: $default;

    &::placeholder {
      color: inherit;
    }
  }

  &__input {
    max-width: 460px;
    margin-bottom: 45px;
  }

  &__textarea {
    display: block;
    height: 100px;
    margin-bottom: 55px;
    resize: none
  }

  &__btn {
    @extend %btn;
  }

}

.footer {
  background-color: #1B1B1B;
  padding: 40px 0 20px;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    padding-left: 60px;
    margin-bottom: 30px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 45px;
      height: 45px;
    }
  }

  .about-me__links-text {
    padding-left: 0;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 0;
    @extend %opensans-300;
  }

  ul.social {
    justify-content: flex-start;
    padding-bottom: 0;
  }

  &__item--email::before {
    background-image: url('../images/icons/footer-mess.svg');
  }

  &__item--tel::before {
    background-image: url('../images/icons/footer-tel.svg');
  }

  &__item--social::before {
    background-image: url('../images/icons/footer-soc.svg');
  }

  &__item-title {
    font-size: 18px;
    line-height: 25px;
    color: $title;
    margin-bottom: 5px;
  }

  &__bottom {
    display: flex;
  }

  &__copy {
    font-size: 14px;
    line-height: 19px;
    margin-right: 25px;
  }

  &__up {
    width: 20px;
  }
}


@import 'media';